* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: black;
  font-family: "Nunito";
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

h3 {
  text-align: center;
  font-size: 20px;
}

header .menu {
  flex-grow: 0;
}
header .menu .logoheader {
  width: 60px;
  margin: 3px;
}

.camisetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.camisetas .fotoportada {
  margin: 3px;
  width: 80%;
}

.camisetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.camisetas .card {
  color: black;
  text-decoration: none;
}
.camisetas .card .card-text {
  text-align: center;
}
.camisetas .overlay .card-price {
  position: absolute;
  bottom: 45px;
  right: 4px;
  background-color: rgba(230, 207, 8, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.reviews-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.reviews-section .review {
  text-align: center;
  width: 30%;
}
.reviews-section .review .circle-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}
.reviews-section .review .circle-image img {
  width: 100%;
  height: auto;
}
.reviews-section .review .review-text {
  font-size: 12px;
}

.camisetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.camisetas .fotoportada {
  margin: 3px;
  width: 80%;
}

.card {
  color: black;
  margin-top: 30px;
}
.card .card-body .card-text {
  text-align: center;
  color: black;
}

.camisetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.camisetas .fotoportada {
  margin: 3px;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  height: 65vh;
}
form .form-content {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.camisetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.camisetas .fotoportada {
  margin: 3px;
  width: 80%;
}

.ofertas .productos {
  text-align: center;
  color: black;
  text-decoration: none;
}
.ofertas .productos a p {
  color: black;
  text-decoration: none;
}
.ofertas .productos img {
  margin: 3px;
  padding: 0px 15px;
  width: 300px;
  height: 280px;
}

.grid {
  display: grid;
  grid-template-areas: "pregunta1 pregunta2 pregunta3" "pregunta4 pregunta5 pregunta6";
}

.proximamente {
  width: 80%;
}

.camisetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.camisetas .fotoportada {
  margin: 3px;
  width: 80%;
}

.sobre-mi {
  text-align: center;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.044);
}
footer .redessociales {
  width: 40px;
}
footer .logofooter {
  width: 50px;
  margin: 3px;
}

@media screen and (max-width: 1024px) {
  .list-group-item-action {
    width: 33%;
  }
  .ofertas {
    display: grid;
    grid-template-areas: "pregunta1 pregunta2" "pregunta3 pregunta4" "pregunta5 pregunta6";
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews-section .review {
    width: 38%; /* Dos columnas en tablet */
  }
  footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "pregunta1" "pregunta2" "pregunta3" "pregunta4" "pregunta5" "pregunta6";
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews-section .review {
    width: 100%; /* Dos columnas en tablet */
  }
}

/*# sourceMappingURL=main.css.map */
