* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: black;
    font-family: 'Nunito';
}

.menu {
    flex-grow: 0;
}

.logoheader {
    width: 60px;
    margin: 3px;
}

div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

h3 {
    text-align: center;
    font-size: 20px;
}

.fotoportada {
    margin: 3px;
    width: 80%;
}

.ofertas {
    display: grid;
    grid-template-areas:
    "pregunta1 pregunta2 pregunta3"
    "pregunta4 pregunta5 pregunta6";
}

.productos {
    text-align: center;
}

.productos a p {
    color: black;
    text-decoration: none;
}

.card p {
    color: black;
    text-decoration: none;
}

.productos img {
    margin: 3px;
    padding: 0px 15px;
    width: 300px;
    height: 280px;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.044);
}

.redessociales {
    width: 40px;
}

.logofooter {
    width: 50px;
    margin: 3px;
}

.proximamente {
    width: 80%
}

section div p {
    text-align: center;
}

form {
    text-align: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "pregunta1 pregunta2 pregunta3"
    "pregunta4 pregunta5 pregunta6";
}

.item1 {
    grid-area: pregunta1;
}

.item2 {
    grid-area: pregunta2;
}

.item3 {
    grid-area: pregunta3;
}

.item4 {
    grid-area: pregunta4;
}

.item5 {
    grid-area: pregunta5;
}

.item6 {
    grid-area: pregunta6;
}

@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "pregunta1 pregunta2" 
        "pregunta3 pregunta4"
        "pregunta5 pregunta6";
    }

    .ofertas {
        justify-content: center;
    }

    .productos {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "pregunta1"
        "pregunta2" 
        "pregunta3"
        "pregunta4"
        "pregunta5"
        "pregunta6";
    }
    
    .ofertas {
        justify-content: center;
    }

    .productos {
        width: 60%;
    }
}