.camisetas {
    @include flex (space-around, wrap);
    .fotoportada {
        margin: 3px;
        width: 80%;
    }
}

.ofertas {
    .productos {
        text-align: center;
        color: black;
        text-decoration: none;
        a {
            p {
                color: black;
                text-decoration: none;
            }
        }
        img {
            margin: 3px;
        padding: 0px 15px;
        width: 300px;
        height: 280px;
        }
        }
    }

.grid {
    display: grid;
    grid-template-areas:
    "pregunta1 pregunta2 pregunta3"
    "pregunta4 pregunta5 pregunta6";
}