footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.044);
        .redessociales {
            width: 40px;
        }
        .logofooter {
            width: 50px;
            margin: 3px;
        }
        }